body {
  color: #dfe6e9;
  background-color: #2d3436;
  font-size: 1.5em;
  font-family: Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}
a {
  color: #dfe6e9;
  text-decoration: none;
  background-color: transparent !important;
  outline: 0;
}

h1 {
  display: inline-block;
  margin: 20px 0;
  word-wrap: break-word;
  width: 80%;
  margin-bottom: 28px;
  cursor: pointer;
}
h1 > span:hover {
  color: #f1c40f;
}
span.loading {
    display: inline-block;

    margin: 0 10px;
    font-size: 0.8rem;
    border-top: 0.5rem solid rgba(47, 164, 245, 0.2);
    border-right: 0.5rem solid rgba(47, 164, 245, 0.2);
    border-bottom: 0.5rem solid rgba(47, 164, 245, 0.2);
    border-left: 0.5rem solid #2FA4F5;
    transform: translateZ(0);
    animation: loading 1.2s infinite linear;

    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
img.thumb {
    width: 230px;
    height: 310px;
}
span.thumb {
    width: 230px;
    height: 300px;
    text-align: center;
    display: inline-block;
    background-color: #464646;
}
span.thumb > svg {
    width: 150px;
    height: 150px;
}

.modal-content {
    background-color: transparent;
}
#media_img,
#media_vid {
    display: grid;
    height: 100%;
    padding: 0;
}
#media_img > img,
#media_vid > video {
    width: 100%;
    max-height: 96vh;
    margin: auto;
    object-fit: contain;
}
#media_img {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    /* Technically not standard compliant? Works in Chrome only */
    transition: background-image 0.3s ease-out;
}
