<!doctype html>
<html>
<head>
    <title>{{title}}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <link href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAGFBMVEUAAACAgIDAwMAAAAD//////wAAAP+AgACyGYBKAAAAAXRSTlMAQObYZgAAAAFiS0dEBI9o2VEAAAAHdElNRQfiBhgXAzXpQrjsAAAArklEQVQoz3WQQQ7CIBBF4QbS4gEsYV8DHkAc3Rev0Buw8PoOQ9KZjPGlm76+hE+N+cdJvdughC+r+OqcAxCJB8CHE1vqBiASH6OHFycj2NEE50g8KdgxybBSMQI0oTYqKOim3EjcR9BNQGGnhSmJVh08PG45R+aScctUmS3jXFlEXdRroKHMnOgqzNxUQcNk8W7jd/CQ1IUcklSx6KImo45pRh1D4iPowiTBan74AnnnVMHA9EjhAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE4LTA2LTI0VDIzOjAzOjUzLTA0OjAwyUvdTwAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxOC0wNi0yNFQyMzowMzo1My0wNDowMLgWZfMAAAAASUVORK5CYII=" rel="icon" type="image/png" />

    <style type="text/css">
    body {
      color: #dfe6e9;
      background-color: #2d3436;
      font-size: 1.5em;
      font-family: Helvetica, Arial, sans-serif;
      overflow-x: hidden;
    }
    a {
      color: #dfe6e9;
      text-decoration: none;
      background-color: transparent !important;
      outline: 0;
    }

    h1 {
      display: inline-block;
      margin: 20px 0;
      word-wrap: break-word;
      width: 80%;
      margin-bottom: 28px;
      cursor: pointer;
    }
    h1 > span:hover {
      color: #f1c40f;
    }
    img.thumb {
        width: 230px;
        height: 310px;
    }
    span.thumb {
        width: 230px;
        height: 300px;
        text-align: center;
        display: inline-block;
        background-color: #464646;
    }
    span.thumb > svg {
        width: 150px;
        height: 150px;
    }

    .modal-content {
        background-color: transparent;
    }
    #media_img,
    #media_vid {
        display: grid;
        height: 100%;
        padding: 0;
    }
    #media_img > img,
    #media_vid > video {
        max-width: 100%;
        max-height: 95vh;
        margin: auto;
    }
    </style>
</head>
<body>
    <div class="modal fade" id="media_modal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
          <div class="modal-body">
              <div id="media_img" class="hidden">
                  <img draggable="false" />
              </div>
              <div id="media_vid" class="hidden">
                  <video controls />
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
        <h1 id="title">{{base_path | safe}}{% if title %}{{ title }}/{% endif %}</h1>

        <div class="row gx-5">
        {% for folder in folders %}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mb-sm-2 mb-lg-5 dir text-break">
                <a href="{{base_path | safe}}{{folder.path | urlencode}}" class="folder">
                    {% if folder.thumb %}
                    <img src="{{base_path | safe}}{{folder.thumb | urlencode}}" loading="lazy" class="thumb pb-3" />
                    {% else %}
                    <span class="thumb mb-3 pt-5">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                          <path d="M1 3.5A1.5 1.5 0 0 1 2.5 2h2.764c.958 0 1.76.56 2.311 1.184C7.985 3.648 8.48 4 9 4h4.5A1.5 1.5 0 0 1 15 5.5v7a1.5 1.5 0 0 1-1.5 1.5h-11A1.5 1.5 0 0 1 1 12.5v-9zM2.5 3a.5.5 0 0 0-.5.5V6h12v-.5a.5.5 0 0 0-.5-.5H9c-.964 0-1.71-.629-2.174-1.154C6.374 3.334 5.82 3 5.264 3H2.5zM14 7H2v5.5a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 .5-.5V7z"/>
                        </svg>
                    </span>
                    {% endif %}
                </a><br />
                <a href="{{base_path | safe}}{{folder.path | urlencode}}" class="folder"><i class="bi bi-folder-fill text-info"></i> <strong>{{folder.name}}</strong></a>
            </div>
        {% endfor %}
        {% for file in files %}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mb-sm-2 mb-lg-5 file text-nowrap overflow-hidden fs-5">
                {% if file.thumb %}
                    <a href="{{base_path | safe}}{{file.path | urlencode}}" class="file">
                        <img src="{{base_path | safe}}{{file.thumb | urlencode}}" loading="lazy" class="thumb pb-3" />
                    </a><br />
                {% endif %}
                <a href="{{base_path | safe}}{{file.path | urlencode}}" class="file file-link"><i class="bi bi-file-richtext text-success"></i> <strong>{{file.name}}</strong></a><br />
                <small>{{file.size}} B</small> /
                <small><time datetime="{{file.date_string}}">{{file.date_string}}</time></small>
            </div>
        {% endfor %}
        </div>
    </div>
<script type="text/javascript">
(function() {
const BASEPATH = '{{base_path | safe}}';
const mediaModal = new bootstrap.Modal(document.getElementById('media_modal'));

const imgTypes = ['.jpg', '.jpeg', '.jpe', '.png', '.gif', '.avif', '.webp', '.heic'];
const isImg = src => src && imgTypes.find(type => src.toLocaleLowerCase().includes(type));

const vidTypes = ['.mp4', '.webm', '.mts', '.mov', '.ogv', '.ogg', '.mp3', '.flac', '.wav'];
const isVideo = src => src && vidTypes.find(type => src.toLocaleLowerCase().includes(type));

// All files that can be displayed in modal
const allLinks = document.querySelectorAll('a.file-link');
const files = Array.from(allLinks).map(el => el.href)
    .filter(f => isImg(f) || isVideo(f));
let fileIndex = 0;

const gotoFile = function(e) {
    let href = e.srcElement.parentNode.href;
    let index = files.findIndex(f => f === href);

    if (index === -1)
        return true;

    e.preventDefault();
    return showFile(index);
};
const showFile = function(index) {
    if (!files[index])
        return true;

    fileIndex = index;
    const file = files[index];
    if (isImg(file)) {
        document.getElementById('media_img').className = '';
        document.getElementById('media_vid').className = 'hidden';
        document.querySelector('#media_img img').src = file;
        mediaModal.show();
        return false;
    } else if (isVideo(file)) {
        document.getElementById('media_img').className = 'hidden';
        document.getElementById('media_vid').className = '';
        document.querySelector("#media_vid video").src = file;
        mediaModal.show();
        return false;
    }

    return true;
};
const titleNav = function(e) {
    const text = Array.from(document.getElementById('title').childNodes).map(i => i.innerText);
    const i = text.findIndex(s => s === e.target.innerText);
    const path = text.slice(0, i + 1).join('');
    window.location.href = encodeURI(path);
};

let showNextFile = function() {
    let nextIndex = files.length === (fileIndex + 1) ?
        0 : (fileIndex + 1);
    showFile(nextIndex);
};

let showPrevFile = function() {
    let prevIndex = fileIndex === 0 ?
        files.length - 1 : fileIndex - 1;
    showFile(prevIndex);
};

const keyHandler = function(e) {
    switch (e.code) {
      case 'ArrowLeft':
      case 'ArrowUp':
        return e.preventDefault() || showPrevFile();

      case 'Enter':
      case 'Tab':
      case 'ArrowRight':
      case 'ArrowDown':
        return e.preventDefault() || showNextFile();
    }
};

const gotoFolder = function(e) {
    // e.preventDefault();
    console.log('Loading folder...', e);
    return true;
};

const setTitle = function(title) {
    title.innerHTML = '<span>' + title.innerText.split('/').join('/</span><span>') + '</span>'
};

setTitle(document.getElementById('title'));

document.querySelectorAll('a.file').forEach(f => f.addEventListener('click', gotoFile));
document.querySelectorAll('a.folder').forEach(f => f.addEventListener('click', gotoFolder));
document.querySelectorAll('#title > span').forEach(f => f.addEventListener('click', titleNav));

document.body.addEventListener('keydown', keyHandler);

})();
</script>
</body>
</html>
